/* место для вашего кода */

h1 {

}

.header {
    width: 1100px;
    height: 293px;
    display: flex;
    justify-content: center;
}

.header__menu { 
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    width: 1052px;
    height: 105px;
    margin-top: 92px;
}

.header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    list-style: circle;
    list-style-position: outside;
    width: 400px;
    margin-left: 26px;
}

.header__links-item {
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;

}

.header__links-item_nobullit{
    list-style: none;
    text-decoration: none;
}

.header__logo {
    height: 105px;
    width: 148px;
    justify-self: center;
    align-self: center;
}

.address {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.address__header {
    width: 240px;
    height: 98px;
    margin-top: 5px;
    justify-self: end;

}

.cover {
    height: 757px;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-position: 100%;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.cover__title {
    display: flex;
    width: 1000px;
    align-content: center;
    flex-direction: column;
 margin-top: 165px;
 margin-bottom: 135px;
 z-index: 1;
 font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    color: #fff;
    letter-spacing: 20px;
}

.aligned-text {
    align-self: flex-start;
    margin-bottom: 20px;
}

.aligned-text_center {
    align-self: center;
    margin-bottom: 20px;
}

.aligned-text_right {
    align-self: flex-end;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;
    margin-bottom: 62px;
    
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    z-index: 1;
    word-spacing: 15px;
    text-transform: uppercase;
    align-self: center;
}

.bet-button {
    width: 256px;
    height: 51px;
    font-family: Raleway,sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.lots {
    display: flex;
    margin-top: 180px;
    flex-direction: column;
}

.lots__heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 64px;
}

.lots__card-list {
    display: flex;
    margin-top: 27px;
    justify-content: space-evenly;
    list-style: none;
}

.lots__card-list-item {
    height: 563px;
    width: 334px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    background-size: cover;
    background-position: center;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    z-index: 1;
    width: 254px;
    margin-left: 40px;
    margin-top: 50px;
}

.card__text {
    margin: auto 40px 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    z-index: 1;
    color:#fff
}

.lots__link {
    margin-top: 30px;
    margin-left: 84px;
    text-decoration: underline;
    font-size: 20px;
    line-height: 24px;


}

.about {
    display: grid;
    height: 595px;
    grid-template-columns:334px auto ;
    gap: 72px;
    margin-top: 146px;
    margin-bottom: 180px;
}

.about__logo {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
    margin-left: 71px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__text {
    margin-top: 133px;
}

.about__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 100px;

}
.about__text_content {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.2;
}
.about__text_content span:first-of-type {
margin-bottom: 24px;
}

.footer {
    width: 1000px;
    height: 98px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-bottom: 88px;
}

.footer__links-item {
    list-style: none;
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;  
}

.footer__social-links {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer__social-links_item {
    width: 48px;
    height: 48px;
}

.footer__links-item_nounderline {
    text-decoration: none;
}